.message_container{
	float: right;
	margin-right: 30px;
	width: 200px;
	height: 100px;
}

.message_icon{
	text-align: center;
}

.message_body{
	color:red;
	width: 100%;
	background: black;
	min-height: 100px;	
}